<h1>Your order summary</h1>

{{>addons noDeleteBtn=true}} {{!-- Do partiala przekazujemy nową informacje  noDeleteBtn=true--}}

<a href="/order/thanks" class="btn btn-big"><i class="fa-solid fa-basket-shopping"></i>Order now!</a>

{{>cookie-preview}}

{{>go-home}}